img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

body {
    margin: 0;
    background: url('https://images.pexels.com/photos/884788/pexels-photo-884788.jpeg');
    background-size: cover;
    padding: 0%;
    background: url('https://images.pexels.com/photos/785429/pexels-photo-785429.jpeg');
    background-size: contain;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@ rs card @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4%;
}

div.gallery {
    margin-bottom: 25px;
    float: left;
    width: 480px;
}

div.gallery:hover {
    border: 1px solid #777;
    border-radius: 3%;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 3%;
}

div.desc {
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ rs wave btn @@@@@@@@@@@@@@@@@@@@ */

.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.wrapper,
.wave-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave-btn {
    height: 60px;
    border-radius: 0 0 10px 10px;
    transition: all 0.8s ease 0s;
    text-decoration: none;
    overflow: hidden;
}

.wave-btn__text {
    z-index: 1;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.wave-btn,
.wave-btn__text {
    position: relative;
}

.wave-btn:hover {
    border-radius: 10px;
    transition: all 0.8s ease 0s;
    box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.wave-btn:hover .wave-btn__waves {
    top: -50px;
}

.wave-btn,
.wave-btn__waves {
    width: 280px;
}

.wave-btn__waves {
    position: absolute;
    top: 0;
    left: 0;
    height: 280px;
    background-color: #007ec1;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: all 0.8s ease 0s;
}

.wave-btn__waves:after,
.wave-btn__waves:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
    background-color: #000;
    border-radius: 48%;
    animation: waves 5s infinite linear;
}

.wave-btn__waves:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 44%;
    animation: waves 10s infinite linear;
}

@keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    }
    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    }
}